<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent" (click)="animateSquare()">Animer une fois</button>
  <button mat-raised-button color="accent" (click)="animateSquare(true)">Animer en boucle</button>
  <div class="square" [@SquareRed]="shakeSR" style="background-color: red;"></div>

  <div class="square" [@SquareGreen]="bounceSG" style="background-color: green;"></div>

  <div class="square" [@SquareBlue]="tadaSB" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button mat-raised-button color="accent" (click)="cssSquare()" [disabled]="css_square">Faire tourner</button>
  <div class="square" [class.rotate-left]="css_square" style="background-color:orange;"></div>
</div>
